table {
  overflow: hidden;
  background: linear-gradient(45deg, #8B0000, #FFD700);
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  position: relative;
  outline: 0;
}

body:not(.nohover) tbody tr:hover {
  background: white;
  opacity: 0.5;
}

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after { 
  content: '';  
  height: 10000px;
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;
}

td:hover::after,
th:hover::after {
  background-color: white;
  opacity: 0.5;
}

td:focus::after,
th:focus::after {
  background-color: white;
  opacity: 0.5;
}