div(class="block_1")
	div(class="menu-bar")
		div(class="bar")
			img(src="img/toolbar.png")
		div(class="home")
			a HOME
		div(class="about")
			a ABOUT
		div(class="shop")
			a SHOP
		div(class="contact")
			a CONTACT
	div(class="welcome")
		h1 SUMMER POP
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
		a READ MORE